/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */


/* CommentForm */
.postForm {
  background-color: white;
  border: 2px groove gray;
}

.comment-form-username {
  margin-left: 8px;;
  width: 50%;
  height: 40px;
  margin-bottom: 8px;
  margin-top: 8px;
  border: 1px solid gray;
  
}

.comment-form-text {
  margin-left: 8px;;
  width: 50%;
  height: 80px;
  margin-bottom: 8px;
  margin-top: 8px;
  border: 1px solid gray;
}

.comment-form-button {
  margin-right: 900px;
  margin-left: 8px;
  margin-bottom: 8px;
  font-size: 16px;
  padding: 8px 16px;
  background: rebeccapurple;
  border-radius: 8px;
  color: white;
}

.comment-form-button:hover:enabled {
  cursor: pointer;
  background: rgb(37, 99, 235);
}

.comment-form-button:disabled {
  opacity: 0.7;
  cursor: default;
}

/* come back to */


.comment-form-title { 
  margin-top: 8px;
  margin-left: 8px ;
  font-weight: bold;
  font-size: 20px;
}

/* Comment */
.comment {
  display: flex;
  padding: 8px 16px;
  border: 1px solid lightgray;
  
}

.comment-right-part {
  width: 100%;
}

.comment-content {
  display: flex;
}

.comment-author {
  margin-right: 8px;
  font-size: 15px;
  color: purple;
  font-weight: bold;
}

.comment-text {
  font-size: 18px;
  color: black;
}

.comment-actions {
  display: flex;
  font-size: 12px;
  color: white;
  cursor: pointer;
  margin-top: 8px;
  background-color: rgb(193, 162, 193);
  border: solid gray;
  border-radius: 50px;
}

.replies {
  margin-top: 30px;
}

/* Vote */
.downvote {
  margin-right: 100000px;
  display: flex;
  font-size: 12px;
  color: white;
  cursor: pointer; 
  margin-left: 95%;
  margin-bottom: 10px;
  background-color: rgb(193, 162, 193);
  border: solid gray;
  border-radius: 50px;
}

.upvote {
  display: flex;
  font-size: 12px;
  color: white;
  cursor: pointer; 
  margin-left: 96%;
  margin-bottom: 10px;
  margin-top: -60px;
  background-color: rgb(193, 162, 193);
  border: solid gray;
  border-radius: 50px;

}

.voteNum {
  font-size: 15px;
  margin-left: 100%;
}

